<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-slate-950 flex items-center justify-center">
        <div class="w-auto">
            <h1 class="text-white text-5xl font-bold">Welcome To Backend</h1>
            <div class="w-auto flex items-center justify-center gap-3 mt-5">
                <a href="/sign_up" class="text-blue-600 text-base font-medium">Sign Up</a>
                <span class="text-white text-base font-normal">Or</span>
                <a href="/sign_in" class="text-blue-600 text-base font-medium">Sign In</a>
            </div>
        </div>
    </div>
</body>
</html>