<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <div class="w-full min-h-screen bg-slate-950 flex items-center justify-center text-white">
        <div class="w-auto">
            <h1 class="text-3xl font-semibold">Something Went Wrong!</h1>
            <div class="w-auto text-center mt-4">
                <a href="/sign_in" class="text-base">Please Try Again <span class="text-blue-600">Sign In</span></a>
            </div>
        </div>
    </div>
</body>
</html>